/*
   Hi, this is bad CSS, you shouldn't structure your CSS this way. Structurally based CSS is a bad idea because it's inherently brittle; if you change the way your nest something you break it. I'm doing it this way because it's less typing for everyone involved to not have to type long class names
*/

* {
  box-sizing: border-box;;
}

html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.home, .signin {
  position: relative;
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/1084130/hero-3_f9kwmt.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}

.homepage-text {
  color: white;
}

.termsofuse, .transfer, .tracking{
  text-align: center;;
}

.register, .dashboard, .register-child{
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}

.register > div {
  margin-top: 500px;
}

.register-child > div {
  margin-top: 200px;
}

.menu {
  width: 90%;
  display: flex;
  padding-top: 120px;
}

.menu > div {
  width: 33%;
  margin: 10px;
  padding: 10px;
}

.menu > div > a > img {
  z-index: 10;
  width: 80%;
  height: 80%;
}

.signin > div {
  background-color: rgba(220, 220, 220, .7);
  padding: 30px 30px;
  border-radius: 5px;
}

input[type=text] {
  height: 40px;
  width: 300px;
  margin:10px;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
  border: none;
  width: 300px;
  height: 40px;
  border-radius: 35px;
  text-decoration: none;
  color: black;
}

.orangebutton {
  background-color: #e56c40;
}

header {
  z-index: 10;
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*text-align: center;*/
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  /*background-color: #fafafa;*/
  /*background-color: transparent;*/
  padding: 8px 30px;
}

header > a > img {
  height: 50px;
  /*width: 50px;*/
}

header > div > a {
  color: black;
  width: 60px;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: gray;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px;
  text-decoration: none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
